Package: com.medvidek77.roundcc
Name: RoundCC
Depends: mobilesubstrate, preferenceloader
Version: 1.0.1
Architecture: iphoneos-arm
Description: A tweak to stylize the Control Center with custom rounded modules and colors.
Maintainer: Medvidek77
Author: Medvidek77
Section: Tweaks
